@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 130 60% 97%;
    --foreground: 28 51% 20%;
    --card: 130 60% 100%;
    --card-foreground: 28 51% 20%;
    --popover: 130 60% 100%;
    --popover-foreground: 28 51% 20%;
    --primary: 28 51% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 130 40% 90%;
    --secondary-foreground: 28 51% 20%;
    --muted: 130 40% 90%;
    --muted-foreground: 28 51% 35%;
    --accent: 127 36% 67%;
    --accent-foreground: 28 51% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 92%;
    --ring: 28 51% 46%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 28 10% 10%;
    --foreground: 130 10% 80%;
    --card: 28 10% 12%;
    --card-foreground: 130 10% 80%;
    --popover: 28 10% 10%;
    --popover-foreground: 130 10% 80%;
    --primary: 28 51% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 28 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 28 10% 20%;
    --muted-foreground: 130 10% 60%;
    --accent: 127 36% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 10% 25%;
    --input: 28 10% 25%;
    --ring: 28 51% 46%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply  text-foreground;
  }
}
